
@{
    ViewBag.Title = "Setores/Alas";
}

<div class="jumbotron">
    <h1><img class="jumbotronImgs" src="/Assets/heart.png" /> Setores/Alas</h1>
</div>

<div>
    <p><a href="@Url.Action("Register", "Sectors")" class="btn btn-primary btn-lg">Cadastrar</a></p>
</div>

@model IoPee.Models.SectorListViewModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Leitos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Sectors)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <p><a href="@Url.Action("Index", "Beds", new { sectorId = @item.Id })" class="btn btn-primary">Leitos</a></p>
                </td>
            </tr>
        }
    </tbody>
</table>